/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -120px;
}

section {
    margin-top: 20px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 20px;
}

.search-container {
    margin-top: 20px; /* Espacio entre el logo y la barra de búsqueda */
}

/* Estilo del formulario */
#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    width: 500px; /* Aumenta el ancho a 500px */
    padding: 15px; /* Aumenta el padding para más espacio interno */
    border: 2px solid #007BFF; /* Borde azul más grueso */
    border-radius: 25px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    outline: none; /* Elimina el contorno por defecto */
}

.search-bar input:focus {
    border-color: #0056b3; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Sombra alrededor del input */
}

button {
    padding: 15px 25px; /* Aumenta el padding para un botón más grande */
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados */
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave */
}

button:hover {
    background-color: #0056b3;
}

/* Estilos del pie de página */
footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

